@page "/master/DataCounter"

@inject IJSRuntime jsRuntime
@inject NavigationManager NavMgr
@inject IToastService toastService
@inject Blazored.LocalStorage.ILocalStorageService localStorage


@using System.IO
<h1>Daftar DataCounter</h1>

<p>Gunakan halaman ini untuk melihat info DataCounter.</p>

@if (DataDataCounter == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <body onbeforeunload="TestDataTablesRemove('#gridData')">
        <div class="table-responsive">
            <table id="gridData" name="gridData" class="table table-striped">
                <thead>
                    <tr>
                        <th>Tanggal</th>
                        <th>Jenis</th>
                        <th>Lokasi</th>
                        <th>Gateway</th>
                        <th>Merek</th>
                        <th>Actions</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in DataDataCounter)
                    {
                        <tr>
                           
                            <td>@item.Tanggal.ToString("dd/MMM/yyyy HH:mm")</td>
                            <td>@item.Jenis</td>
                            <td>@item.Lokasi</td>
                            <td>@item.Gateway</td>
                            <td>@item.Merek</td>
                            <td>
                                @if (HasLogin)
                                {
                                    <input type="button" class="btn btn-primary btn-sm mt-1" @onclick="(() => PrepareForEdit(item))" data-toggle="modal" data-target="#taskModal" value="Ubah" />
                                    <input type="button" class="btn btn-danger btn-sm mt-1" @onclick="(() => PrepareForDelete(item))" data-toggle="modal" data-target="#confirmDeleteModal" value="Hapus" />
                                }
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
}
@if (HasLogin)
{
    <div>
        <input type="button" data-toggle="modal" data-target="#taskModal" class="btn btn-primary" value="Masukan DataCounter Baru" @onclick="(() => InitializeitemObject())" />
    </div>
}
<ConfirmDialog OnClick="@Delete" />
<DataCounterDetail @ref="detail" TaskObject=@itemObject DataChanged="@DataChanged">
    <CustomHeader>@customHeader</CustomHeader>
</DataCounterDetail>

@code {
    bool HasLogin = false;
    DataCounterDetail detail;
    CarCounter.Web.Data.DataCounterService service;
    string customHeader = string.Empty;
    List<DataCounter> DataDataCounter;
    DataCounter itemObject = new DataCounter();
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string UserName;

    async Task DownloadFile(string Url)
    {
        if (!string.IsNullOrEmpty(Url))
        {
            NavMgr.NavigateTo(Url, true);
        }
        else
        {
            toastService.ShowError("Url kosong atau tidak valid.");
        }

    }


    CarCounter.Web.Data.UserProfileService Userservice;
    protected override async Task OnInitializedAsync()
    {

        if (Userservice == null) Userservice = new  UserProfileService();
        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            UserName = user.Identity.Name;
            HasLogin = Userservice.GetUserRole(UserName)==Roles.Admin;
        }
    
        if (service == null) service = new DataCounterService();

        DataDataCounter = service.GetAllData();


    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (DataDataCounter != null && DataDataCounter.Count > 0)
        {

            await jsRuntime.InvokeAsync<object>("TestDataTablesAdd", "#gridData");
        }
        if (firstRender)
        {
            
        }
    }

    private void InitializeitemObject()
    {

        itemObject = new DataCounter();
      

        //detail.DocumentUrl = "";

        //itemObject.Id = -1;

        customHeader = "Masukan DataCounter Baru";
    }
    private async void DataChanged()
    {
        DataDataCounter = service.GetAllData();
        StateHasChanged();
    }

    private void PrepareForEdit(DataCounter item)
    {
        customHeader = "Ubah Data DataCounter";
        itemObject = item;
        //detail.DocumentUrl = item.DocumentUrl;
    }
    private void PrepareForDelete(DataCounter item)
    {
        itemObject = item;
    }
    private async Task Delete()
    {
        var task = service.DeleteData(itemObject.Id);
        await jsRuntime.InvokeAsync<object>("CloseModal", "confirmDeleteModal");
        DataDataCounter = service.GetAllData();
        itemObject = new DataCounter() { Id = -1 };
    }

    private async System.Threading.Tasks.Task applyPager(string TableName)
    {
        await jsRuntime.InvokeAsync<object>("applyPager", TableName);
    }

}
